html, body {
    padding: 0;
    margin: 0;
}

#title {
    width: 100%;
    text-align: center;
    z-index:2;
    background-color: white;
    margin:0;
    padding-top:22px;
    padding-bottom:22px;
}

#container {
    position:relative;
    padding:0;
    margin: 0 0 -4px 0 ;
    overflow: visible;
}

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    vertical-align: middle;
    border-collapse: collapse;
}

table.gridtable tbody {
    border-style:solid;
    border-width: 2px;
    border-color:black;
}

table.gridtable thead th{
    padding: 8px;
    vertical-align: bottom;
    border-color: black;
    background-color: white;
    border-bottom-style:solid;
    border-bottom-width:2px;
}

table.gridtable td[factor] {
    border-right-width: 1px;
}

table.gridtable tr[trial-number='0'] td, table.gridtable tr[trial-number='0'] th {
    border-top-width: 2px;
}

table.gridtable [factor] + :not([factor]) {
    border-left-width: 2px;
}

table.gridtable tbody tr:hover td.odd,  table.gridtable tbody tr.hovered td.odd {
    background-color: #eefdff;
}

table.gridtable tbody tr:hover td.even, table.gridtable tbody tr.hovered td.even {
    background-color: #dff7fa;
}

table.gridtable tbody tr:hover th, table.gridtable tbody tr.hovered th {
    background-color: #c7dbe1;
}

table.gridtable [info] + :not([info]) {
    border-left-width: 2px;
}

table.gridtable tbody tr * {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}

table.gridtable tbody th[info] {
    background-color: #D7E1E1;
}

table.gridtable td.even, table.gridtable tr.even td.odd {
    background-color: rgba(108, 176, 176, 0.1);
}

table.gridtable tr.even td.even {
    background-color: rgba(108, 176, 176, 0.2);
}