<!DOCTYPE html>
<html>
<head>
    <title>Measures: {{ experiment.name }}</title>
    <style>
        .measure-id {
            font-weight: bold;
        }
        .measure-name {
            color:gray;
        }
    </style>
</head>
<body>
<h1>Measures of the experiment '{{ experiment.name }}'</h1>


<h2>Trial Level Measures</h2>

<ul id="trial_level">
    {% for measure in measures.trial_level %}
    <li class="measure-li"><span class="measure-id">{{ measure }}</span>
    {% if measures.trial_level[measure] %}
    <span class="measure-name">({{ measures.trial_level[measure] }})</span>
    {% endif %}
    </li>
    {% endfor %}
</ul>


<h2>Event Level Measures</h2>

<ul id="event_level">
    {% for measure in measures.event_level %}
    <li class="measure-li"><span class="measure-id">{{ measure }}</span>
    {% if measures.trial_level[measure] %}
    <span class="measure-name">({{ measures.trial_level[measure] }})</span>
    {% endif %}
    </li>
    {% endfor %}
</ul>


</body>
</html>