{% extends "results.html" %}

{% set nojs_url= url_for('.run_results', experiment=experiment.id, run=run.id)+"?nojs" %}

{% block head %}
    <noscript>
        <meta http-equiv="refresh" content="0;url={{ nojs_url }}"/>
    </noscript>
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        if (!"WebSocket" in window) {
            window.location = "{{ nojs_url }}"
        }
        CONFIG ={{ config|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tooltipster.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/results.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultswebsocket.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltipster.css') }}">
{% endblock %}

{% block content %}
<div id='message'></div>
{{ super() }}
{% endblock content %}

{% block body %}
    {{ super() }}
{% endblock %}

