{% extends "results.html" %}

{% block table_body %}{% strip %}
    {% for trial in trials %}
        {% set cycle = cycler('odd', 'even') %}
        <tr id="trial-results-{{ trial.block_number }}-{{ trial.number }}" trial-number='{{ trial.number }}'
            block-number='{{ trial.block_number }}'>

            <th class="column-block-num {{ ' ' + cycle.next() }}" column-type='info' info="block_number">
                {% if trial.measure_block_number != None %}
                    {{ trial.measure_block_number }}
                {% endif %}
            </th>
            <th class="column-trial-num {{ ' ' +cycle.next() }}" column-type='info' info ="trial_number">
                {{ trial.number }}
            </th>

            {%- for factor in factors -%}
                <td class="column-{{ factor.id }}-factor {{ ' ' +cycle.next() }}" column-type='factor'
                    factor='{{ factor.id }}'>
                    {%- if factor.id in trial.factors -%}
                        {% set factor_value = trial.factors[factor.id] %}
                        {% if factor_value.name %}
                            {{ factor_value.name }}
                        {% else %}
                            {{ factor_value.id }}
                        {% endif %}
                    {%- endif -%}
                </td>
            {%- endfor -%}

            {% for measure in trial_measures %}
                <td class="column-{{ measure.id }}-measure {{ ' '+cycle.next() }}" column-type='measure'
                    measure='{{ measure.id }}'>
                    {% if measure.id in trial.measures %}
                        {{ trial.measures[measure.id] }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endstrip %}{% endblock table_body %}