<!DOCTYPE html>

<html>

<head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>{% block title %}Trial results: {{ run.id }} ({{ experiment.name }}){% endblock %}</title>


        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/results.css') }}">
        {% endblock %}

        {% block scripts %}{% endblock %}

    {% endblock head %}
</head>

<body>
{% block body %}

    <h1 id='title'>Trial results of run {{ run.id }} of experiment '{{ experiment.name }}'</h1>

    <div id="container">
        {% block content %}{% strip %}
            <table class="gridtable" id='trial-results' run='{{ run.id }}' experiment='{{ experiment.id }}'>
                <thead>
                {%- block table_head -%}
                    {% set cycle = cycler('odd', 'even') %}
                    <tr id='trial-results-header' class='table-header'>
                        <th class='column-block-num {{ ' ' + cycle.next() }}' column-type='info' info="block_number">
                            Block number
                        </th>
                        <th class='column-trial-num {{ ' ' + cycle.next() }}' column-type='info' info="trial_number">
                            Trial number
                        </th>
                        {% for factor in factors %}
                            <th title='factor id: {{ ' ' + factor.id }}'
                                class='column-{{ factor.id }}-factor {{ ' ' + cycle.next() }}'
                                column-type='factor' factor='{{ factor.id }}'>
                                {% if factor.name != None %}
                                    {{- factor.name -}}
                                {% else %}
                                    {{- factor.id -}}
                                {% endif %}
                            </th>
                        {% endfor %}

                        {% for measure in trial_measures %}
                            <th class='column-{{ measure.id }}-measure {{ ' ' + cycle.next() }}'
                                column-type='measure' measure='{{ measure.id }}'
                                title='measure id: {{ ' '+ measure.id }}'>
                                {%- if measure.name != None -%}
                                    {{- measure.name -}}
                                {%- else -%}
                                    {{- measure.id -}}
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                {% endblock %}
                </thead>
                <tbody>{% block table_body %}{% endblock %}</tbody>
            </table>
        {% endstrip %}{% endblock %}
    </div>

{% endblock body %}
</body>

</html>