<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Stroke</title>

    <style>
        html, body {
            background-color:#5C5C5C;
            padding:0;
            width:100%;
            height:100%;
            margin:0;
        }

        #stroke-canvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background-color:white;
            box-shadow: 0px 0px 10px black;
        }

        #links {
            margin:-35px 0 0 0;
            top:50%;
            padding:0;
            position:absolute;
            height:70px;
            width:100%;
        }

        #links a{
            display: block;
            padding:4px;
            background-color:gray;
            color:black;
            margin:5px 0;
            width:110px;
            text-align:center;
            border-style:solid;
            border-color:black;
            text-decoration: none;
        }

         #links a:hover{
            background-color:lightgray;
        }

        #links a.disabled {
            visibility: hidden;
        }

        #previous-links {
            position:absolute;
            left:0;
            padding:0;
            margin:0;
            border-left-style:none;
        }

         #previous-links a{
            border-left-style:none;

            border-radius: 0 8px  8px 0;
        }

        #next-links {
            position:absolute;
            right:0;
            padding:0;
            margin:0;
            border-right-style:none;
        }

        #next-links a{
            border-right-style:none;
            border-radius: 8px 0 0 8px;
        }

    </style>

</head>

<body>

<canvas id="stroke-canvas"></canvas>
{% set next_trial = trial.next() %}
{% set previous_trial = trial.previous() %}
{% set next_run = trial.run.next() %}
{% set previous_run = trial.run.previous() %}

<div id="links">
    <div id="next-links">
        {% if next_trial %}
        <a href="/trial/{{ next_trial.experiment.id }}/{{ next_trial.run.id }}/{{ next_trial.block.number }}/{{ next_trial.number }}/stroke">Next Trial</a>
        {% else %}
            <a href="javascript: void(0)" class="disabled">Next Trial</a>
        {% endif %}
        {% if next_run %}
            <a href="/trial/{{ trial.experiment.id }}/{{ next_run.id }}/0/0/stroke">Next Run</a>
        {% else %}
            <a href="javascript: void(0)" class="disabled">Next Run</a>
        {% endif %}
    </div>
    <div id="previous-links">
        {% if previous_trial %}
            <a href="/trial/{{ previous_trial.experiment.id }}/{{ previous_trial.run.id }}/{{ previous_trial.block.number }}/{{ previous_trial.number }}/stroke">Previous Trial</a>
        {% else %}
            <a href="javascript: void(0)" class="disabled">Previous Trial</a>
        {% endif %}
                {% if previous_run %}
            <a href="/trial/{{ trial.experiment.id }}/{{ previous_run.id }}/0/0/stroke">Previous Run</a>
        {% else %}
            <a href="javascript: void(0)" class="disabled">Previous Run</a>
        {% endif %}
    </div>
</div>


{% block scripts %}
    <script src="{{ url_for('static', filename='js/stroke.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript">

        (function () {
            var TRIAL_EVENTS = {{ dumps(trial_events) | safe }},
                    TRIAL_NB = {{ trial.number }},
                    BLOCK_NB = {{ trial.block.number }},
                    EXPERIMENT_NAME = "{{ trial.experiment.name }}",
                    EXPERIMENT_ID = "{{ trial.experiment.id }}",
                    RUN_ID = "{{ trial.run.id }}",
                    MEASURED_BLOCK_NB = {{ trial.block.measure_block_number() }};

            function adaptCanvasSize(canvas) {
                var baseFrameWidth = 768,
                    baseFrameHeight = 928,
                    margin = 10,
                    maxWidth = $(window).width() - margin * 2,
                    maxHeight = $(window).height() - margin * 2,
                    width = Math.min(baseFrameWidth, maxWidth),
                    height = Math.min(baseFrameHeight, maxHeight),
                    adaptedW = height * baseFrameWidth / baseFrameHeight,
                    adaptedH = width * baseFrameHeight / baseFrameWidth,
                    canvasWidth = Math.min(adaptedW, width),
                    canvasHeight = Math.min(adaptedH, height);

                canvas.width = baseFrameWidth;
                canvas.height = baseFrameHeight;

                $(canvas).css({
                    'position':'absolute',
                    'left':$(window).width()/2 - canvasWidth/2,
                    'top':$(window).height()/2 - canvasHeight/2,
                    'width': canvasWidth,
                    'height': canvasHeight});
            }

            var pageArgs = (function () {
                        var vars = {};
                        window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                                function (m, key, value) {
                                    vars[key] = value;
                                });
                        return vars;
                    }()),
                    xAxis = pageArgs['x'] || 'pointer.x',
                    yAxis = pageArgs['y'] || 'pointer.y',
                    timeAxis = pageArgs['time'] || 'trialTime',
                    canvas = document.getElementById('stroke-canvas'),
                    strokeDrawer = new StrokeDrawer(document.getElementById('stroke-canvas'),
                            xAxis,
                            yAxis,
                            timeAxis,
                            TRIAL_EVENTS);

            adaptCanvasSize(canvas);
            strokeDrawer.draw();

            $(window).resize(function(){
                adaptCanvasSize(canvas);
                strokeDrawer.draw(null, true);
            })

        }());

    </script>
{% endblock %}
</body>